<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li class='item-1'><a href="{{ path('pig_start') }}">Pig Game</a></li>
                <li class='item-2'><a href="{{ path('pig_init_get') }}"> Start</a></li>
            </ul>
        </nav>
    </body>
     <main>
        {% block main %}{% endblock %}
     </main>
    <footer>

    </footer>
</html>
