<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li class='item-1'><a href="{{ path('me') }}">Home</a></li>
                <li class='item-2'><a href="{{ path('api-quote') }}">Quote</a></li>
                <li class='item-3'><a href="{{ path('api-deck') }}">Cards</a></li>
                <li class='item-4'><a href="{{ path('api-shuffle') }}">Shuffle</a></li>
                <li class='item-1'><a href="{{ path('api_draw_cards', { 'number': 0 }) }}">Draw</a></li>
                <li class='item-2'><a href="{{ path('api_game') }}">Game</a></li>
                <li class='item-3'><a href="{{ path('show_books') }}">Library</a></li>
            </ul>
        </nav>
        <main class="api-main">
            {% block main %}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
