<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to the Library!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    </body>
            <nav>
            <ul>
                <li class='item-1'><a href="{{ path('me') }}">Home</a></li>
                <li class='item-3'><a href="{{ path('app_book') }}">Library</a></li>
                <li class='item-4'><a href="{{ path('api') }}">API</a></li>
            </ul>
        </nav>
     <main class="library">
        {% block main %}{% endblock %}
     </main>
    <footer>

    </footer>
</html>
